<!-- site-nav elememt -->
<nav class="nav-bar row">
	
	
	<div class="col-xs-10 col-xs-push-1 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
		<ul class="nav-links">
			<li><a href="/register">Register</a></li>
			<li><a href="/login" ng-show="!isLoggedIn">Log in</a></li>
			<li><a href="/user" ng-show="isLoggedIn">{{userName}}</a></li>
		</ul>
	</div>
	

</nav>
<div class="jumbotron">
	<div class="row">
		<div class="col-xs-10 col-xs-push-1 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
			<h1>8words.</h1>
			<p>Be understood.</p>
		</div>
	</div>
</div>