.row {
  margin-bottom: 10px;
}

.btn-red {
  color: #fff;
  background-color: #990000;
  border-color: #6b0000;
}

.btn-red:hover {
  color: #000000;
}

.field-valid {
  border: 1px solid green;
}

.field-invalid {
  border: 1px solid red;
}

.alert-container {
  min-height: 72px;
}

.fade {
  transition: 0.5s linear all;
  opacity: 1;
  margin-bottom: 0;
}

.fade.ng-hide {
  opacity: 0;
}

blockquote {
  border-left: 5px solid #990000;
}

.jumbotron h1 {
  font-size: 63px;
}

.jumbotron p {
  color: #990000;
}

.btn:active .btn:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .col-xs-push-1 {
    left: 8.33333%;
  }
}
